<header class="clearfix">
  <strong>Listing cases</strong>
  <div class="pull-right">
    <%= add_button 'Add a New Case', new_case_path %>
  </div>
</header>


<ul class="alt">
  <%= render partial: 'case', collection: @cases, as: :c %>
</ul>