<header class="clearfix">
  <div class="pull-right">
    <%= edit_button 'Edit this case', edit_case_path(@case) %>
  </div>

  <h5>
    <%= @case.name %>
  </h5>

  <p>
    <%= company_name @case %>
  </p>
</header>

<div class="col_8">
  <%= render 'notes/form' %>
</div>

<div class="col_4">
  <p><strong>Options</strong></p>
</div>