<header class="clearfix">
  <strong>Listing contacts</strong>
  <div class="pull-right">
    <%= add_button 'Add a New Contact', new_contact_path %>
  </div>
</header>


<ul class="alt">
  <%= render @parties %>
</ul>