// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alt.ui-personal-info {
  li {
    position: relative;
    padding-left: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-image: none;

    i {
      position: absolute;
      top: 8px;
      left: 8px;
    }
  }
}