<ul class="icons">
    <li><i class="icon-large icon-home"></i><%= link_to 'Welcome', root_url %></li>
    <li><i class="icon-large icon-user"></i><%= link_to 'Contacts', contacts_path %></li>
    <li><i class="icon-large icon-briefcase"></i><%= link_to 'Cases', cases_path %></li>
</ul>